/* ---- Global Styles ---- */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
  overflow: hidden; 
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: -1;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.container p {
  font-size: 24px;
}

.container h5 {
  font-size: 18px;
  text-align: left;
  margin: 0 auto;
  max-width: 600px;
}

.container .btn {
  display: inline-block;
  margin: 20px 5px 0 5px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.container .btn:hover {
  background-color: #0056b3;
}

.container a {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 90%;
  }
  .container h5 {
    font-size: 16px;
  }
  .container .btn {
    font-size: 16px;
  }
}

/* ---- Styles Supplémentaires pour la section Services ---- */
h5 {
  color: #23437d;
  font-size: 4em;
  margin-bottom: 20px;
  text-align: center;
}

/* ---- Flexbox Container for Services ---- */
.service-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  padding: 40px 20px;
  margin: 20px auto;
  width: 80%;
  max-width: 1200px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.service-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.service-card {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  width: calc(25% - 20px);
  min-width: 250px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.service-card strong {
  font-weight: bold;
  color: #23437d;
  display: block;
  margin-bottom: 10px;
  font-size: 1.1em;
}

.service-card p {
  line-height: 1.6;
  font-size: 0.9em;
  color: #444;
}

/* Hover effect on the cards */
.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

/* ---- Responsive Styles ---- */
@media (max-width: 768px) {
  .service-card {
    width: calc(50% - 20px);
  }

  .service-container h6 {
    font-size: 1.8em;
  }

  .service-card strong {
    font-size: 1em;
  }

  .service-card p {
    font-size: 0.85em;
  }
}

@media (max-width: 480px) {
  .service-card {
    width: 100%;
  }

  .service-container h6 {
    font-size: 1.6em;
  }

  .service-card strong {
    font-size: 0.9em;
  }

  .service-card p {
    font-size: 0.8em;
  }
}
